* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background: #171717;
}

.container {
    margin: 0 auto;
    max-width: 1460px;
    width: 100%;
}

.block-one {
    background-image: url("../img/header-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 1377px;
    margin-top: -145px;
    margin-right: 240px;
    margin-left: 230px;
    padding: 210px 0 0 0;
}

.header {
    padding: 54px 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.phone {
    font-size: 20px;
    line-height: 29px;
    color: #D6AF76;
    text-decoration: none;
}

.phone span {
    color: #ffffff;
}

.btn-phone {
    font-size: 18px;
    line-height: 30px;
    color: #E4B564;
    border: 1px solid #E4B564;
    padding: 10px;
    text-decoration:  none;
    margin-left: 39px;
}

.btn-phone img {
    margin-right: 10px;
}

.title-main {
    font-size: 50px;
    line-height: 28px;
    font-weight:  700;
    color: #ffffff;
    margin-bottom: 41px;
}

.sub-title {
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    color: #ffffff;
}

.wrapper {
    width: 1461px;
    height: 963px;
    margin-top: 41px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 27px;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 28px;
    color: white;
}

.grid-item1 {
    grid-column: 1/3;
    background-color: #634F2C;
}

.grid-item2 {
    grid-column: 3/5;
    background-color: #B4A385
}

.grid-item3 {
    grid-column: 5/7;
    background-color: #E4B564;
}

.grid-item4 {
    grid-column: 1/4;
    background-color: #635A4A;
}

.grid-item5 {
    grid-column: 4/7;
    background-color: #B08C4D;
}


.block-two {
    padding: 120px 0;
}

.block-two-title {
    font-size: 58px;
    line-height: 28px;
    font-weight: 700;
    color: #ffffff;
}
.grid-items-info {
    width: 1459px;
    height: 897px;
    margin-top: 94px;
    display: grid;
    size: 25px;
    line-height: 25px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    row-gap: 26px;
    column-gap: 30px;
    color: white;
}

.grid-item-info {
    display: flex;
    padding-top: 44px;
    padding-left: 52px;
}

.grid-info1 {
    background-color: #0E0E0E;
    grid-column: 1/2;
    grid-row: 1/3;
}

.grid-info2 {
    background-color: #242424;
    grid-column: 2/3;
    grid-row: 1/4;
}

.grid-info3 {
    background-color: #1F1F1F;
    grid-column: 3/4;
    grid-row: 1/3;
}

.grid-info4 {
    background-color: #1F1F1F;
    grid-column: 1/2;
    grid-row: 3/7;
}

.grid-info5 {
    background-color: #0E0E0E;
    grid-column: 3/4;
    grid-row: 3/5;
}

.grid-info6 {
    color: black;
    background-color: #E4B564;
    grid-column: 2/3;
    grid-row: 4/7;
}

.grid-info7 {
    background-color: #0A0909;
    grid-column: 3/4;
    grid-row: 5/7;
}


.block-three {
    background-image: url("../img/parallax-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 172px 0;
}

.block-three-title {
    color: #ffffff;
    font-size: 50px;
    line-height: 28px;
    margin-bottom: 72px;
}

.block-three-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.block-three-list li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33.3%;
    min-height: 391px;
}

.block-three-list li div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #ffffff;
    font-size: 28px;
}

.background-one {
    background: #634F2C;
}

.background-two {
    background: rgba(232, 210, 171, 0.76);
}

.background-three {
    background: #E4B564;
}

.background-four {
    background: #635A4A;
}

.background-five {
    background: #B08C4D;
}

.background-six {
    background: #634F2C;
}
